name: 'Custom Action'
description: Fetches inputs
on: 
  workflow-dispatch
    inputs:
      name: 
        description: 'name'
        required: true
        default: 'World'

jobs: 
  run-python:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v3
      - name: setup python
        uses: actions/setup-python@v4
        with: 
          python-version: '3.10'
      - name: execute python script
        env:  
          INPUT_NAME: ${{ github.event.inputs.name }}
        run: python test.py